<%- include('header'); %>
<%- include('nav'); %>
<main>
<h3>
    Sign Up
</h3>
<form action="/register" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    
    <label for="phone">Phone</label>
    <input type="text" name="phone" id="phone">

    <label for="discord">Discord</label>
    <input type="text" name="discord" id="discord">

    <label for="leagueoflegends">League of Legends</label>
    <input type="checkbox" name="leagueoflegends" id="leagueoflegends">
    
    <label for="overwatch">Overwatch</label>
    <input type="checkbox" name="overwatch" id="overwatch">

    <label for="callofduty">Call of Duty</label>
    <input type="checkbox" name="callofduty" id="callofduty">

    <label for="valorant">Valorant</label>
    <input type="checkbox" name="valorant" id="valorant">

    <label for="fortnite">Fortnite</label>
    <input type="checkbox" name="fortnite" id="fortnite">

    <label for="apexlegends">Apex Legends</label>
    <input type="checkbox" name="apexlegends" id="apexlegends">

    <button class="btn btn-success">Submit</button>
</form>
</main>